<div class="admin-nav">
  <h5 class="admin-nav__heading">Admin</h5>
  <ul class="side-nav">
    <li><a href="#"><svg>
          <use xlink:href="img/icons.svg#icon-map"></use>
        </svg>Manage tours</a></li>
    <li><a href="#"><svg>
          <use xlink:href="img/icons.svg#icon-users"></use>
        </svg>Manage users</a></li>
    <li><a href="#"><svg>
          <use xlink:href="img/icons.svg#icon-star"></use>
        </svg>Manage reviews</a></li>
    <li><a href="#"><svg>
          <use xlink:href="img/icons.svg#icon-briefcase"></use>
        </svg></a></li>
  </ul>
</div>
